<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path do %>
    <%= image_tag "cocktail_logo.png", width: '100px' %>
  <% end %>
  <%= link_to new_cocktail_path do %>
    <div class="btn btn-primary">
      Add a new cocktail
    </div>
  <% end %>
</div>
